/* ----- GENERAL ----- */
/* Contains some styling common to most/every page */

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F4F0E4;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards; /* calls keyframe fadeIn (shown below) */
}

@keyframes fadeIn { /* creates fade in animation when page is loaded */
    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

/* COL (BOOTSTRAP) */

[class*="col-"] {
  float: left;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* HEADER */

header {
    text-align: center;
    color: #5E4C06;
}

header a:hover {
    color: #5FB37A;
    transition: color ease-in-out 0.3s;
}

/* NAVIGATION BAR */

.hamburger-menu {
	position: relative;
	width: 100%;
	background-color: #A8FCB0;
	color: #5E4C06;
	display: block;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

#hamburger-icon {
    padding: 10px 0px 10px 0px;
	font-size: 2em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu {
	position: absolute;
	top: 60px;
	left: 0;
    width: 100%;
    background-color: #A8FCB0;
    color: #5E4C06;
    display: none;
    flex-direction: column;
    align-items: center;
}

#menu a {
    width: 100%;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
	text-align: center;
	font-size: 1.5em;
	background-color: #A8FCB0;
    color: #532D02;
}

#menu a:hover {
	background-color: #5E4C06;
	color: #F4F0E4;
	transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.dropdown-menu #menu {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	animation: slideDown 0.5s ease-in-out; /* calls keyframe slideDown (shown below) */
}

@keyframes slideDown { /* creates slide down effect for dropdown menu */
    0% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0%);
    }
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #5E4C06;
    color: #F4F0E4; 
}

/* HOME PAGE (index.html) */

.home-page-card {
    height: 700px;
    background-color: #FFF6D2;
    color: #532D02;
    text-align: center;
}

.home-page-card:hover {
    color: #F4F0E4;
    background-color: #5FB37A;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.home-card-content {
    margin: 40px 20px 40px 20px;
    font-size: 1.5em;
}

.home-card-content img {
    display: inline-block;
    width: 70%;
    border-radius: 25px;
}

/* PLANNER PAGE (planner.html) */

.planner-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.planner-content {
    display: inline-block;
    width: 100%;
    margin: 20px;
    text-align: center;
}

.planner-app-container {
    display: inline-block;
    width: 90%;
    height: 700px;
    margin-bottom: 150px;
}

.planner-main-app {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
    height: 700px;
}

.planner-entry-form {
    display: inline-block;
    text-align: center;
    width: 40%;
    height: 300px;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
    margin: 20px;
    padding: 20px;
}

.planner-entry-form input, label {
    width: 75%;
    font-size: 2em;
    display: inline-block;
    margin: 5px 20px 5px 20px;
}

#planner-submit {
    border-radius: 10px;
    border: 3px solid #FFF6D2;
    background-color: #5E4C06;
    color: #F4F0E4;
    padding: 10px 0px 10px 0px;
    margin-top: 20px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#planner-submit:hover {
    background-color: #5FB37A;
    transition: background-color ease-in-out 0.3s;
    cursor: pointer;
}

.planner-map {
    display: inline-block;
    width: 40%;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
    margin: 20px;
}

/* JOURNAL PAGE (planner.html) */

.journal-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.journal-content {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.journal-app-container {
    display: inline-block;
    width: 90%;
    height: 700px;
    margin-bottom: 150px;
}

.journal-main-app {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
    height: 700px;
}

.journal-entry-form {
    display: inline-block;
    text-align: center;
    width: 90%;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
    margin: 20px;
    padding: 20px;
}

.journal-new-entry-icon {
    font-size: 5em;
    border-radius: 25px;
}

.journal-new-entry-icon:hover {
    color:#FFF6D2;
    background-color: #5E4C06;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
    cursor: pointer;
}

.journal-new-entry-icon:active {
    opacity: 0.5;
}

#new-entry {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: inherit;
}

#new-entry:active {
    opacity: 0.5;
}

.journal-entry-form input, label, textarea {
    width: 90%;
    font-size: 2em;
    display: inline-block;
    margin: 5px 20px 5px 20px;
}

#journal-submit {
    border-radius: 10px;
    border: 3px solid #FFF6D2;
    background-color: #5E4C06;
    color: #F4F0E4;
    padding: 10px 0px 10px 0px;
    margin-top: 20px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#journal-submit:hover {
    background-color: #5FB37A;
    transition: background-color ease-in-out 0.3s;
    cursor: pointer;
}

#cancel-entry {
    width: 90%;
    font-size: 2em;
    border-radius: 10px;
    border: 3px solid #FFF6D2;
    background-color: #5E4C06;
    color: #F4F0E4;
    padding: 10px 0px 10px 0px;
    margin-top: 20px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#cancel-entry:hover {
    background-color: #5FB37A;
    transition: background-color ease-in-out 0.3s;
    cursor: pointer;
}

/* HABIT PAGE (habit.html) */

.habit-page {
    display: flex;
    justify-content: center;
}

.habit-content {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

/* ----- RESPONSIVES (MOBILE DESIGN) ----- */

@media screen and (min-width: 800px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #hamburger-icon {
        display: none;
        padding: 0;
    }

    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        top: 0;
    }

    #menu a {
        width: 33.33%;
    }

    main {
        transform: translateY(49.6px);
    }

    .index-page {
        transform: translateY(0px);
    }

}