/* ----- GENERAL ----- */
/* Contains some styling common to most/every page */

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F4F0E4;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

/* COL (BOOTSTRAP) */

[class*="col-"] {
  float: left;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* HEADER */

header {
    text-align: center;
    color: #5E4C06;
}

/* NAVIGATION BAR */

.hamburger-menu {
	position: relative;
	width: 100%;
	background-color: #A8FCB0;
	color: #5E4C06;
	display: block;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

#hamburger-icon {
	font-size: 2em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu {
	position: absolute;
	top: 60px;
	left: 0;
    width: 100%;
    background-color: #A8FCB0;
    color: #5E4C06;
    display: none;
    flex-direction: column;
    align-items: center;
}

#menu a {
    width: 33.33%;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
	text-align: center;
	font-size: 1.5em;
	background-color: #A8FCB0;
    color: #532D02;
}

#menu a:hover {
	background-color: #5E4C06;
	color: #F4F0E4;
	transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.dropdown-menu #menu {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	animation: slideDown 0.3s ease-in-out;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #5E4C06;
    color: #F4F0E4; 
}

/* HOME PAGE (index.html) */

.home-page-card {
    height: 700px;
    color: #532D02;
    text-align: center;
}

.home-page-card:hover {
    color: #F4F0E4;
    background-color: #5FB37A;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.home-card-content {
    margin: 40px 20px 40px 20px;
    font-size: 1.5em;
}

.home-card-content img {
    display: inline-block;
    width: 70%;
    border-radius: 25px;
}

/* ----- RESPONSIVES (MOBILE DESIGN) ----- */

@media screen and (min-width: 800px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .hamburger-icon {
        display: none;
        padding: 10px 0px 10px 0px;
    }

    #menu {
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}